#inputID::placeholder {
    color: rgba(0, 0, 0, 0.8);
    opacity: 1;
};

.container {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}
.ping {
    background: #fff;
    border-radius: 50%;
    border: 50px solid #222;
    width: 20px;
    height: 20px;
    animation: load 1.5s ease-out infinite;
}

@keyframes load {
    0% {
        background: #fff;
        border: 0px solid #fff;
   }
    50% {
        background: #fff;
        border: 100px solid #222;
   }
    100% {
        background: #fff;
        border: 0px solid #222;
   }
}
